---
# CoreDNS ConfigMap patch to forward test-cluster.agentydragon.com to PowerDNS
# This allows cert-manager to resolve ns1/ns2.test-cluster.agentydragon.com glue records
# during DNS-01 ACME challenge validation
apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns
  namespace: kube-system
data:
  Corefile: |-
    # Forward test-cluster.agentydragon.com zone to PowerDNS
    test-cluster.agentydragon.com:53 {
        errors
        cache 30
        forward . 10.2.3.3
    }

    # Default configuration for all other domains
    .:53 {
        errors
        health {
            lameduck 5s
        }
        ready
        log . {
            class error
        }
        prometheus :9153

        kubernetes cluster.local in-addr.arpa ip6.arpa {
            pods insecure
            fallthrough in-addr.arpa ip6.arpa
            ttl 30
        }
        forward . /etc/resolv.conf {
           max_concurrent 1000
        }
        cache 30 {
           disable success cluster.local
           disable denial cluster.local
        }
        loop
        reload
        loadbalance
    }
