apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: monitoring-namespace
  namespace: flux-system
spec:
  interval: 10m
  path: ./cluster/k8s/monitoring-namespace
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
  dependsOn:
    - name: storage
