---
apiVersion: generators.external-secrets.io/v1alpha1
kind: Password
metadata:
  name: powerdns-api-key-generator
  namespace: dns-system
spec:
  length: 32
  digits: 10
  symbols: 0
  symbolCharacters: ""
  noUpper: false
  allowRepeat: true
