apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - gotk-components.yaml
  - gotk-sync.yaml
patches:
  - target:
      kind: GitRepository
      name: flux-system
    patch: |
      - op: add
        path: /spec/sparseCheckout
        value:
          - cluster/
