apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kagent-crds
  namespace: kagent
spec:
  interval: 10m
  chart:
    spec:
      chart: helm/kagent-crds
      sourceRef:
        kind: GitRepository
        name: kagent
        namespace: kagent
      interval: 5m
  install:
    crds: Create
  upgrade:
    crds: CreateReplace
