---
apiVersion: external-secrets.io/v1beta1
kind: ClusterSecretStore
metadata:
  name: vault-backend
spec:
  provider:
    vault:
      server: "https://instance.vault:8200" # Internal service for Bank-Vaults instance
      path: "kv"
      version: "v2"
      # Trust the cluster CA certificate
      caProvider:
        type: ConfigMap
        name: cluster-internal-ca-bundle
        namespace: vault
        key: ca-certificates.crt
      auth:
        tokenSecretRef:
          name: "instance-unseal-keys" # Bank-Vaults stores root token here
          namespace: "vault"
          key: "vault-root"
---
apiVersion: external-secrets.io/v1beta1
kind: ClusterSecretStore
metadata:
  name: kubernetes-secret-store
spec:
  provider:
    kubernetes:
      server:
        caProvider:
          type: ConfigMap
          name: kube-root-ca.crt
          key: ca.crt
          namespace: default
      auth:
        serviceAccount:
          name: external-secrets
          namespace: external-secrets-system
      remoteNamespace: authentik
