apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: external-dns
  namespace: flux-system
spec:
  interval: 10m
  timeout: 5m
  sourceRef:
    kind: GitRepository
    name: flux-system
  path: "./cluster/k8s/external-dns"
  prune: true
  wait: true
  dependsOn:
    - name: reflector
      namespace: flux-system
    - name: powerdns
      namespace: flux-system
    - name: powerdns-zones
      namespace: flux-system
