apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: local-path-provisioner
  namespace: flux-system
spec:
  interval: 10m
  timeout: 5m
  sourceRef:
    kind: GitRepository
    name: flux-system
  path: "./cluster/k8s/local-path-provisioner"
  prune: true
  wait: true
  dependsOn:
    - name: core
  healthChecks:
    - apiVersion: apps/v1
      kind: Deployment
      name: local-path-provisioner
      namespace: local-path-storage
